# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# fbConfig
import firebase from 'firebase/app'
import 'firebase/firestore'
import 'firebase/auth'

var config = {
    apiKey: "AIzaSyBjOwZ-IW6I0WVzZrcg__qhZPjy11FvK4w",
    authDomain: "ab-joker-app.firebaseapp.com",
    databaseURL: "https://ab-joker-app.firebaseio.com",
    projectId: "ab-joker-app",
    storageBucket: "ab-joker-app.appspot.com",
    messagingSenderId: "724561551453",
    appId: "1:724561551453:web:ab680cd00fe39015"
};
// Initialize Firebase

firebase.initializeApp(config);
firebase.firestore().settings({timestampsInSnapshots: true });

export default firebase;